<?xml version="1.0"?>
<model>
  <name>trikey_pinned_controlit</name>
  <version>1.4</version>
  <sdf>urdf/trikey_pinned_gazebo.urdf</sdf>

  <author>
   <name>Chien-Liang Fok</name>
   <email>liangfok@gmail.com</email>
  </author>

  <description>
    The Trikey Pinned robot loaded into Gazebo.
  </description>
</model>
