<?xml version="1.0"?>
<launch>
    <include file="$(find atlas_plain_pinned_controlit)/launch/gazebo.launch"/>
    <include file="$(find atlas_plain_pinned_controlit)/launch/load_atlas_plain_pinned_parameters.launch"/>
    <include file="$(find atlas_plain_pinned_controlit)/launch/start_controlit.launch"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find atlas_plain_pinned_controlit)/launch/rviz_configure.rviz"/>
</launch>

