<?xml version="1.0" ?>
<launch>
    <!-- Enable simulation time -->
    <param name="/use_sim_time" type="bool" value="true"/>

    <!-- Load the robot description parameter-->
    <param name="robot_description"
     command="$(find xacro)/xacro.py '$(find stickbot_bipedal_12dof)/models/stickbot_bipedal_12dof/xacro/stickbot_bipedal_12dof.xacro'"/>

    <!-- Start gazebo with robot. -->
    <node args="$(find stickbot_bipedal_12dof_controlit)/worlds/stickbot_bipedal_12dof.world"
      name="gazebo" pkg="controlit_simulation_gazebo" type="run_gazebo" ns="stickbot_bipedal_12dof_controller"/>

    <!-- Start a shared memory manager. -->
    <node name="SMManager" pkg="shared_memory_interface" type="shared_memory_manager" 
        output="screen" ns="/" respawn="false"/>
</launch>
