<?xml version="1.0"?>
<launch>
    <include file="$(find stickbot_upperbody_10dof_controlit)/launch/gazebo.launch"/>
    <include file="$(find stickbot_upperbody_10dof_controlit)/launch/load_stickbot_upperbody_10dof_params_cartpos.launch"/>
    <include file="$(find stickbot_upperbody_10dof_controlit)/launch/start_controlit.launch"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find stickbot_upperbody_10dof_controlit)/rviz/stickbot_upperbody_10dof.rviz"/>
</launch>
