<?xml version="1.0" ?>
<launch>
    <!-- Load the robot description parameter-->
    <param name="robot_description"
        command="$(find xacro)/xacro.py '$(find stickbot_humanoid_32dof)/models/stickbot_humanoid_32dof/xacro/stickbot_humanoid_32dof.xacro'"/>
     
    <group ns="stickbot_humanoid_32dof_controller/controlit">
        <include file="$(find stickbot_humanoid_32dof_controlit)/launch/stickbot_humanoid_32dof_params_base.xml"/>
        <param name="parameters" textfile="$(find stickbot_humanoid_32dof_controlit)/parameters/JointPositionControl.yaml"/>
    </group>
</launch>
