<?xml version="1.0"?>
<model>
    <name>sandia_hands</name>
    <version>1.0</version>
    <sdf>urdf/sandia_hands.urdf</sdf>

    <author>
       <name>Chien-Liang Fok</name>
       <email>user@host.com</email>
    </author>

    <description>
        Hands developed by Sandia National Laboratories.
    </description>
</model>
