<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="dreamer">

    <!-- Define the joint types. This specifies the joints that are simulated. -->
    <property name="EYE_JOINT_TYPE" value="revolute" />

    <property name="RIGHT_HAND_JOINT_TYPE" value="revolute" />
    <property name="LEFT_GRIPPER_JOINT_TYPE" value="revolute" />

    <property name="JOINT_TYPE_TORSO_YAW"               value="fixed" />
    <property name="JOINT_TYPE_TORSO_LOWER_PITCH"       value="revolute" />
    <property name="JOINT_TYPE_TORSO_UPPER_PITCH"       value="revolute" />

    <property name="JOINT_TYPE_LOWER_NECK_PITCH"        value="revolute" />
    <property name="JOINT_TYPE_UPPER_NECK_YAW"          value="revolute" />
    <property name="JOINT_TYPE_UPPER_NECK_ROLL"         value="revolute" />
    <property name="JOINT_TYPE_UPPER_NECK_PITCH"        value="revolute" />

    <property name="JOINT_TYPE_LEFT_SHOULDER_EXTENSOR"  value="revolute" />
    <property name="JOINT_TYPE_LEFT_SHOULDER_ABDUCTOR"  value="revolute" />
    <property name="JOINT_TYPE_LEFT_SHOULDER_ROTATOR"   value="revolute" />
    <property name="JOINT_TYPE_LEFT_ELBOW"              value="revolute" />
    <property name="JOINT_TYPE_LEFT_WRIST_ROTATOR"      value="revolute" />
    <property name="JOINT_TYPE_LEFT_WRIST_PITCH"        value="revolute" />
    <property name="JOINT_TYPE_LEFT_WRIST_YAW"          value="revolute" />

    <property name="JOINT_TYPE_RIGHT_SHOULDER_EXTENSOR" value="revolute" />
    <property name="JOINT_TYPE_RIGHT_SHOULDER_ABDUCTOR" value="revolute" />
    <property name="JOINT_TYPE_RIGHT_SHOULDER_ROTATOR"  value="revolute" />
    <property name="JOINT_TYPE_RIGHT_ELBOW"             value="revolute" />
    <property name="JOINT_TYPE_RIGHT_WRIST_ROTATOR"     value="revolute" />
    <property name="JOINT_TYPE_RIGHT_WRIST_PITCH"       value="revolute" />
    <property name="JOINT_TYPE_RIGHT_WRIST_YAW"         value="revolute" />

    <property name="MESH_QUALITY" value="optimized" />
    <property name="MESH_EXTENSION" value="stl" />

    <!-- Gazebo uses "model:// for the model path -->
    <property name="modelPath" value="model://dreamer" />
    <property name="gripperModelPath" value="model://dreamer" />

    <!-- Load the Dreamer Model -->
    <xacro:include filename="$(find dreamer)/models/dreamer/xacro/dreamer_base.xacro" />


    <gazebo version="1.2">
    	<!-- Pin the robot to the world -->
    	<plugin filename="libPinPlugin.so" name="PinPlugin">
            <pin_root_link>1</pin_root_link>
        </plugin>

        <!-- Enable shared memory communication between Gazebo and ControlIt! -->
        <plugin filename="libSMControlPlugin.so" name="SMControlPlugin">
            <node>/sm_control_plugin</node>
        </plugin>

        <!-- Mimic the internal transmission in Dreamer's torso. -->
        <plugin filename="libDreamerTorsoTransmissionPlugin.so" name="DreamerTorsoTransmissionPlugin"/>

        <!-- Control the eyes. -->
        <plugin filename="libDreamerEyePlugin.so" name="DreamerEyePlugin"/>

        <!-- Control the right hand. -->
        <plugin filename="libDreamerRightHandPlugin.so" name="DreamerRightHandPlugin"/>

        <!-- Control the left gripper. -->
        <plugin filename="libDreamerLeftGripperPlugin.so" name="DreamerLeftGripperPlugin"/>

        <!-- Control the neck. -->
        <plugin filename="libDreamerNeckPlugin.so" name="DreamerNeckPlugin"/>
    </gazebo>

    <!--
      The following enables torque feedback.  Without these, the following warning will be printed
      by Gazebo when the shared memory plugin is used:

      Warning [ODEJoint.cc:1105] GetForceTorque: forgot to set <provide_feedback>?
    -->

    <!-- Torso joints -->
    <gazebo reference="torso_yaw">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="torso_lower_pitch">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="torso_upper_pitch">
        <provideFeedback value="true"/>
    </gazebo>

    <!-- right arm joints -->
    <gazebo reference="right_shoulder_extensor">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_shoulder_abductor">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_shoulder_rotator">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_elbow">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_wrist_rotator">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_wrist_pitch">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_wrist_yaw">
        <provideFeedback value="true"/>
    </gazebo>

    <!-- Left arm joints -->
    <gazebo reference="left_shoulder_extensor">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="left_shoulder_abductor">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="left_shoulder_rotator">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="left_elbow">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="left_wrist_rotator">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="left_wrist_pitch">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="left_wrist_yaw">
        <provideFeedback value="true"/>
    </gazebo>

    <!-- Head and neck joints -->
    <gazebo reference="lower_neck_pitch">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="upper_neck_yaw">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="upper_neck_roll">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="upper_neck_pitch">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="eye_pitch">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_eye_yaw">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="left_eye_yaw">
        <provideFeedback value="true"/>
    </gazebo>

    <!-- Right hand joints -->
    <gazebo reference="right_thumb_1">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_thumb_2">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_thumb_3">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_pointer_finger_1">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_pointer_finger_2">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_pointer_finger_3">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_middle_finger_1">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_middle_finger_2">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_middle_finger_3">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_pinky_1">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_pinky_2">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="right_pinky_3">
        <provideFeedback value="true"/>
    </gazebo>

    <!-- Left gripper joints -->
    <gazebo reference="l_gripper_l_finger_joint">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="l_gripper_l_finger_tip_joint">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="l_gripper_r_finger_joint">
        <provideFeedback value="true"/>
    </gazebo>
    <gazebo reference="l_gripper_r_finger_tip_joint">
        <provideFeedback value="true"/>
    </gazebo>
</robot>

