<?xml version="1.0"?>
<model>
  <name>trikey_controlit</name>
  <version>1.4</version>
  <!-- <sdf>urdf/trikey.sdf.test</sdf> -->
  <sdf>urdf/trikey_gazebo.urdf</sdf>

  <author>
   <name>Chien-Liang Fok</name>
   <email>liangfok@gmail.com</email>
  </author>

  <description>
    The Trikey robot loaded into Gazebo.
  </description>
</model>
