<?xml version="1.0" ?>
<launch>
	<group ns="stickbot_humanoid_32dof_pinned_controller">
  		<include file="$(find stickbot_humanoid_32dof_pinned_controlit)/launch/stickbot_humanoid_32dof_pinned_params_base.xml"/>

  		<param name="parameters" textfile="$(find stickbot_humanoid_32dof_pinned_controlit)/parameters/JointPositionControl.yaml"/>
    </group>
</launch>
