<?xml version="1.0"?>
<model>
  <name>valkyrie_upperbody_controlit</name>
  <version>1.0</version>
  <sdf>urdf/valkyrie_upperbody_gazebo.urdf</sdf>

  <author>
   <name>Chien-Liang Fok</name>
   <email>liangfok@gmail.com</email>
  </author>

  <description>
    The Valkyrie_upperbody robot configured to work with ControlIt!
  </description>
</model>
